[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
six = "*"
pymbtiles = ">=0.5.0"
mercantile = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "*"

[pipenv]
allow_prereleases = true
